<div class="header_section" id="header_section">
    {% comment %} Store Name / Store Logo {% endcomment %}
    <div class="store_logo">
        <a class="logo_text" href="">
            {{ shop.name }}
        </a>
    </div>

    {% comment %} Navigational Menu {% endcomment %}

    <div class="nav_menus">
        <ul class="nav_menu_items">
            {% for link in section.settings.header_menu.links %}
                {% if link.links != blank %}
                  {% assign link_handle = link.handle | replace: '-', '_' %}
                    
                    <div class="" x-data="{ {{ link_handle }} : false }">
                            <a  class="" x-on:click=" {{ link_handle }} = ! {{ link_handle }} " >
                            <li class="nav_menu_item font-bold flex">{{ link.title }} <span class="header_dropdown_icon">{% render 'icon-dropdown' %}</span> </li>
                            </a>
                        

                        <div class="dropdown_shadow_box"
                        x-show="{{ link_handle }}" @click.away="{{ link_handle }} = false"
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0 transform scale-90"
                            x-transition:enter-end="opacity-100 transform scale-100"
                            x-transition:leave="transition ease-in duration-300"
                            x-transition:leave-start="opacity-100 transform scale-100"
                            x-transition:leave-end="opacity-0 transform scale-90"
                        >
                        {% for childLink in link.links %}
                                <a href="" class="">{{ childLink.title }}</a>
                        {% endfor %}
                        </div>
                    </div>
                    
                {% else %}
                    <a href="">
                        <li class="nav_menu_item">{{ link.title }}</li>
                    </a>
                {% endif %}

            {% endfor %}
        </ul>
    </div>

    {% comment %} End of Navigational Menu {% endcomment %}

    <div class="nav_icons">
        <ul class="nav_menu_icons">

            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <a href="">
                        <li class="nav_menu_icon">{% render 'icon-user' %}</li>
                        <li class="nav_menu_icon"> {{ 'Log Out' | customer_logout_link }}</li>
                    </a>

                {% else %}

                    <a href="">
                         <li class="nav_menu_icon"> {{ 'Log In' | customer_login_link }}</li>
                         <li class="nav_menu_icon"> {{ 'Register' | customer_register_link }}</li> 
                        
                    </a>
                {% endif %}
            {% endif %}
            <a href="">
                <li class="nav_menu_icon">{% render 'icon-cart' %}</li>
            </a>
        </ul>
    </div>

    <div class="nav_hamburger">
       <button class="hamburger_icon">
        {% render 'icon-hamburger' %}
       </button>
    </div>
    
</div>

{% schema %}
    {
    "name": "Header",
    "settings": [
        {
        "type": "link_list",
        "id": "header_menu",
        "default": "main-menu",
        "label": "Header Navigation Menu"
        }
    ]
    }
{% endschema %}